<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <h3 class="text-center">
    Votre panier est vide<br><br>
    <%= link_to "Retour à l'accueil", root_path, :class=> "btn btn-primary" %>
  </h3>
<% else %>
  <h3>Mon panier</h3>
  <hr>
  <%= render "carts/partials/carts"%>
<% end %>