<h1>Listes des commandes</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= debug(@customers)%>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.firstname %></td>
      </tr>
    <% end %>
  </tbody>
</table>