<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <h3 class="text-center">
    Vous avez aucun produit dans votre panier<br><br>
    <%= link_to "Retour à l'accueil", root_path, :class=> "btn btn-primary" %>
  </h3>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', movie: order_item.movie, order_item: order_item, show_total: true %>
  <% end %>
<% end %>