<h3>Liste des utilisateurs</h3>
<hr>
<table class="table">
  <thead>
    <tr>
    	<th>id</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
    <tr>
      <td><%= user.id %></td>
     	<td><%= user.email %></td>
     	<td colspan="8"></td>
      <td>
      	<%#= link_to 'Voir', user_path, :class=> "btn btn-primary" %>
      	<%= link_to 'Editer', edit_user_registration_path, :class=>"btn btn-info" %>
      	<%= link_to 'Supprimer', cancel_user_registration_path,  :class=>"btn btn-danger"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>