body {
  padding-top: 90px; 
}
.caption {
  overflow: hidden;
}
.caption h4 {
  white-space: nowrap;
}
.thumbnail-img{
  height: 300px;
  overflow: hidden;
}
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
footer {
  margin: 50px 0;
}