<div class="col-sm-4">
	<div class="list-group">
		<%= link_to 'Editer mon profil', edit_user_registration_path, class: "list-group-item active"%>
		<%= link_to 'Mes commandes', customers_path, class: "list-group-item"%>
	</div>
</div>