<div class="container">
	<hr>
<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
    	<p>Copyright &copy; <%= Time.new.year  %></p>
    	<%= image_tag("logo-alt.svg") %> 
    </div>
  </div>
</footer>
</div>
